nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 1030;
    box-shadow: 0 0.2rem 0.8rem rgb(124 42 103 / 41%);
}

nav a {
    border: 0 !important;
}

.options {
    padding-left: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.options a {
    display: inline-flex;
    align-items: center;
    height: 60px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    text-transform: uppercase;
    background-color: #7c2a67;
    color: white;
}

.options a {
    margin: 0 20px;
}

a.anchor {
    display: block;
    position: relative;
    top: -190px;
    visibility: hidden;
}

.menu span {
	position: fixed;
    right: 15px;
    top: 27px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 30px;
	height: 6px;
	display: block;
    border-radius: 2px;
}
.menu span:before {
	margin-top: -12px;
}
.menu span:after {
	margin-top: 12px;
}
.mobile-menu-icon span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}

.open .mobile-menu-icon span {
	background-color: transparent !important;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.mobile-menu-icon span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.open .mobile-menu-icon span:before {
	margin-top: 0;
    background-color: white;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.mobile-menu-icon span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.open .mobile-menu-icon span:after {
	margin-top: 0;
    background-color: white;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

.mobile-menu-icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    a.anchor {
        top: -70px;
    }

    .mobile-menu-icon {
        display: block;
    }

    .menu {
        height: 0px;
    }

    .menu .options {
        display: none;
    }
    
    .menu.open {
        display: flex;
        align-items: flex-start;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        width: 100vw;
        height: 100vh;
        color: white;
        background-color: #7c2a67;
    }

    .menu.open .options {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    body .menu.open .mobile-menu-icon span:before {
        background-color: white;
        -webkit-transform: rotate(45deg); transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
    }
    body .menu.open .mobile-menu-icon span:after {
        background-color: white;
        -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
    }
}