/* Dark */
body.dark {
    background-color: #2d2d2d;
    color: #e7e9eb;
}

body.light h3>a {
    color: white;
}

body.dark .timeline-item i {
    background-color: #2d2d2d;
}

body.dark .blur {
    text-shadow: 0 0 8px #e7e9eb;
}

body.dark .timeline {
    border-color: #e7e9eb;
}

body.dark .nav-bg {
    background-color: #e7e9eb;
}

body.dark .open .nav-bg {
    background-color: #7c2a67;
}

body.dark .menu a span, body.dark .menu a span::before, body.dark .menu a span:after {
    background-color: #2d2d2d;
}

body.dark .menu.open a span {
    background-color: #e7e9eb;
}

body.dark .soon .input-cursor {
    background-color: white;
}

/* Light */
body.light {
    background-color: white;
    color: #7c2a67;
}

body.light h3>a {
    color: #7c2a67;
}

body.light .timeline-item i {
    background-color: white;
}

body.light .blur {
    text-shadow: 0 0 8px #7c2a67;
}

body.light .timeline {
    border-color: #7c2a67;
}

body.light .nav-bg {
    background: #7c2a67;
}

body.light .soon .input-cursor {
    background-color: #7c2a67;
}

@media only screen and (max-width: 600px) {
    .themes {
        display: none;
    }
    .menu {
        background-color: white;
    }
}


/* Checkbox */
body.dark .button {
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 25px;
    height: 200px;
    width: 200px;
    background-color: #2d2d2d;
    font-size: 60px;
    border-radius: 50px;
    box-shadow: -8px -8px 12px 0px rgba(255, 255, 255, 0.05), 12px 12px 16px 0px rgba(0, 0, 0, 0.5);
}

.switch {
    justify-content: center;
    align-items: center;
    display: flex;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 50px;
    position: relative;
    width: 50px;
    height: 26px;
}

.ball {
    background-color: #7c2a67;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.checkbox:checked+.label {
    background-color: #212121;
}

.fa-moon {
    color: white;
}

.fa-sun {
    color: #7c2a67;
}

.themes {
    font-size: 16px;
}
.themes label {
    cursor: pointer;
}